{% extends 'index.html' %}
{% block body %}
<div class="col-sm-12">
	<div class="card">
		<div class="card-header d-flex justify-content-between">
           <div class="header-title">
              	<h4 class="card-title">THIRD READING EXCEMPTED RESOLUTION</h4>
           </div>
        </div>
        <div class="card-body">
       		<div class="table-responsive">
			    <table id="tbl_resolution" class="table table-striped" data-toggle="data-table" width="98.8%">
			    	<colgroup>
						<col style="width: 2px;">
						<col style="width: 3px;">
						<col style="width: 20px;">
						<col style="width: 4px;">
						<col style="width: 4px;">
						<col style="width: 3px;">
						<col style="width: 3px;">
						<col style="width: 3px;">
					</colgroup>
					<thead >
						<th>Id</th>
						<th>Reso No.</th>
						<th>Title</th>
						<th>Date Enacted</th>
						<th>Category</th>
						<th>Status</th>
						<th>Remarks</th>
						<th>Action</th>
					</thead>
					<tbody></tbody>
				</table>
			</div>
       </div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$( "#3rd_resolution_exemption" ).addClass( "active" );
		$( "#resolution-menu" ).addClass( "show" );
		load_3rd_exemp_resolution()
	})

	function load_3rd_exemp_resolution(){
		if ($.fn.DataTable.isDataTable("#tbl_resolution")) {
            $("#tbl_resolution").DataTable().destroy();
        }

        var table=$('#tbl_resolution').DataTable({
            responsive: true,
            searching: true,
            bStateSave: true,
            "ajax": {
                "type": "POST",
                "url": '/get_resolution',
                contentType: 'application/JSON',
                "data":function(){
                    return JSON.stringify({
                        status:4
                    })
                },
                "dataSrc": function(data) {
                    data.forEach(function(item){
                        var open_doc = `<button type='button' class="btn btn-sm btn-icon text-primary flex-end" onclick="open_doc_res(this, '#tbl_resolution')">
                        <span class="btn-inner">
		                        <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" >
		                            <path d="M11.4925 2.78906H7.75349C4.67849 2.78906 2.75049 4.96606 2.75049 8.04806V16.3621C2.75049 19.4441 4.66949 21.6211 7.75349 21.6211H16.5775C19.6625 21.6211 21.5815 19.4441 21.5815 16.3621V12.3341" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
		                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.82812 10.921L16.3011 3.44799C17.2321 2.51799 18.7411 2.51799 19.6721 3.44799L20.8891 4.66499C21.8201 5.59599 21.8201 7.10599 20.8891 8.03599L13.3801 15.545C12.9731 15.952 12.4211 16.181 11.8451 16.181H8.09912L8.19312 12.401C8.20712 11.845 8.43412 11.315 8.82812 10.921Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
		                            <path d="M15.1655 4.60254L19.7315 9.16854" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
		                        </svg>
		                </span>
                        </button>`
                        item.action =  open_doc;
                    });
                    
                    return data;
                }
            },
            dom: 'Bfrtip',
            columns: [
             	{data:"resolution_id"},
             	{data:"resolution_number"},
             	{data:"resolution_title"},
             	{data:"date_enacted"},
             	{data:"category_title"},
             	{data:"stats"},
             	{data:"remarks"},
             	{data:"action"},
             ],
             buttons: [
             	{
	                text: 'Add',
	                action: function ( e, dt, node, config ) {
	                	getbyId('form_resolution').reset()
	                	getbyId('btn_resolution_committee').style.display="none"
	                	if ($.fn.DataTable.isDataTable('#tbl_res_attach_file')) {
				        	$('#tbl_res_attach_file').DataTable().clear().draw();
				       	}
				       	if ($.fn.DataTable.isDataTable('#tbl_add_minutes_file_resolution')) {
				        	$('#tbl_add_minutes_file_resolution').DataTable().clear().draw();
				       	}

				       	if ($.fn.DataTable.isDataTable('#tbl_veto_resolution')) {
				        	$('#tbl_veto_resolution').DataTable().clear().draw();
				       	}

				       	getbyId('h_resolution_id').value=0
				       	getbyId('h_legislature_res').value=""
				       	getbyId('h_committee_id_res').value=""
				       	getbyId('status_resolution').value=4

				       	getbyId('div_resolution_author').innerHTML=""
				       	getbyId('div_resolution_co_author').innerHTML=""
				       	getbyId('div_resolution_sponsor').innerHTML=""

				       	// getbyId('status_resolution').disabled=true
				       	$('#sel_ordinance_category_res').val('').trigger('chosen:updated')
	                    $("#div_resolution_modal").modal('toggle');
	                },
	                'className': 'btn btn-sm btn-primary'
	            },{
		            extend: 'print',
		            text: 'Print',
		            filename: 'file',
		            title: 'Print',
		            titleAttr: 'Print'
		            ,'className': 'btn btn-sm btn-warning'
		        }
            ],
            "pagingType": "full_numbers",
            "pageLength": 5
        });
	}
</script>
{% endblock %}