<div class="col-sm-12">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
           <div class="header-title">
                <h4 class="card-title">CITIZEN'S CHARTER</h4>
           </div>
        </div>
        <div class="card-body">
            
            <form id="form_citezen_charter">
                <div class="row">
                    <div class="col-sm-6">
                        <input type="file" name="citezen_upload" id="citezen_upload" accept=".pdf,.doc" multiple required class="form-control">
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-success">SAVE</button>
                    </div>
                </div> 
            </form>

            <div class="table-responsive" style="margin-top: 20px!important">
                <table id="tbl_citezen_charter" class="table table-striped" data-toggle="data-table" width="99.8%">
                    <thead>
                        <th>ID</th>
                        <th>FILENAME</th>
                        <th>DATE</th>
                        <th>ACTION</th>         
                    </thead>
                </table>
            </div>
       </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        var form_id='#form_citezen_charter'
         $(form_id).submit(function(e){
            var form_save = $(form_id).serializeObject();
            e.preventDefault();

            swal.fire({
                title: "Are you sure want to save?",
                text: "Click ok to continue",
                type: "info",
                showCancelButton: true,
                showLoaderOnConfirm: true,
                preConfirm: () => {
                    return fetch(console.log("log"))
                    .then(
                        upload_citezen_charter()
                    )
                    .catch(() => {
                        Swal.fire({
                          icon: 'error',
                          title: 'Error occured'
                        })
                    })
                }
            })
        })

        load_citezen_charter()
    })

    function load_citezen_charter(){
        if ($.fn.DataTable.isDataTable("#tbl_citezen_charter")) {
            $("#tbl_citezen_charter").DataTable().destroy();
        }

        var table=$('#tbl_citezen_charter').DataTable( {
            responsive: true,
            "processing": true,
            'bStateSave':true,
            dom: 'Bfrtip',
            "ajax": {
                "type": "POST",
                "url": '/get_citezen_charter',
                contentType: 'application/JSON',
                "dataSrc": function(data) {
                    data.forEach(function(item){
                        var download = `<a href='/static/uploads/`+item.path+`' target='_blank'><button type='button' class="btn btn-sm btn-icon text-primary flex-end" title='DOWNLOAD'>
                        <span class="btn-inner">
                            <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" >
                                <path d="M11.4925 2.78906H7.75349C4.67849 2.78906 2.75049 4.96606 2.75049 8.04806V16.3621C2.75049 19.4441 4.66949 21.6211 7.75349 21.6211H16.5775C19.6625 21.6211 21.5815 19.4441 21.5815 16.3621V12.3341" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.82812 10.921L16.3011 3.44799C17.2321 2.51799 18.7411 2.51799 19.6721 3.44799L20.8891 4.66499C21.8201 5.59599 21.8201 7.10599 20.8891 8.03599L13.3801 15.545C12.9731 15.952 12.4211 16.181 11.8451 16.181H8.09912L8.19312 12.401C8.20712 11.845 8.43412 11.315 8.82812 10.921Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M15.1655 4.60254L19.7315 9.16854" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </span>
                        </button></a>`
                        var open_doc = "<button type='button' class='btn btn-default' title='DELETE' onclick='delete_citezen_charter(this)'><i class='bi bi-trash3' style='font-size: 1rem; color: cornflowerblue;'></i></button>"
                        item.action = download + open_doc;
                    });
                    
                    return data;
                }
            },
            
            columns: [
                { data: "id"},
                { data: "filename"},
                { data: "date_gen"},
                { data: "action"},
            ],
            buttons: [
                {
                    extend: 'print',
                    text: 'Print',
                    filename: 'file',
                    title: 'Print',
                    titleAttr: 'Print'
                    ,'className': 'btn btn-sm btn-warning'
                }
                ,
            ],
            "pagingType": "full_numbers",
            "pageLength": 8,
            "order":false
        });
    }


    function upload_citezen_charter(){
        var mydata = new FormData();

        jQuery.each($("#citezen_upload")[0].files, function(i, file) {
            mydata.append('file['+i+']', file);
        });

        
        $.ajax({
            type: 'POST',
            url: "/save_citezen_charter",
            contentType:false,
            processData:false,
            cache: false,
            data:mydata,
            beforeSend: function() {
               console.log(mydata)
            },
            success: function(res) {
                $('#tbl_citezen_charter').DataTable().ajax.reload();
                saved(res)
            },
            error: function() {
                error_in_saving("error occured in sending to");
            }
        });
    }

    function delete_citezen_charter(elem){
        var tr = $(elem).closest('tr');
        var dataArr = $('#tbl_citezen_charter').DataTable().row(tr).data()

        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!',
            customClass: 'swal_css',
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                  'Deleted!',
                  'Your file has been deleted.',
                  'success'
                )
                sendDataWithCallback('/del_citezen_charter_file',dataArr,function(res){
                    if(res){
                        $('#tbl_citezen_charter').DataTable().ajax.reload();
                        saved(res)
                    }
                })
            }
        })
    }
</script>