<div class="col-md-12">
	<div id="print_classification_gen_ordinances">
		<p class="txcenter">CLASSIFICATION OF GENERAL ORDINANCES</p>

		<table class="table" style="border-collapse: collapse;table-layout: fixed;" border="1">
			<colgroup>
				<col style="width: 2px">
				<col style="width: 3px">
				<col style="width: 6px">
				<col style="width: 3px">
				<col style="width: 4px">
			</colgroup>
			<thead>
				<th>Ordinance No.</th>
				<th>Date Enacted</th>
				<th>Subject</th>
				<th>Summary</th>
				<th>Remarks/Status</th>
			</thead>
			<tbody id="tbody_classification_gen_ordinances"></tbody>
		</table>
	</div>
	
</div>