<div class="col-md-12">

	<div id="print_gen_ord_for_codi_clean_summ">
		<p class="txcenter">GENERAL ORDINANCES FOR CODIFICATION (CLEAN/SUMMARIZED)</p>

		<table class="table" style="border-collapse: collapse;table-layout: fixed;" border="1">
			<colgroup>
				<col style="width: 4px">
				<col style="width: 2px">
				<col style="width: 3px">
				<col style="width: 6px">
				<col style="width: 4px">
			</colgroup>
			<thead>
				<th>Subject</th>
				<th>Ordinance No.</th>
				<th>Date Enacted</th>
				<th>Title</th>
				<th>Remarks/Status</th>
			</thead>
			<tbody id="tbody_gen_ord_for_codi_clean_summ"></tbody>
		</table>
	</div>
	
</div>