<div class="col-md-12">

	<div id="print_inventory_of_ordinances">
		<p class="txcenter">INVENTORY OF ORDINANCES</p>

		<table class="table dataTable no-footer" style="border-collapse: collapse;table-layout: fixed;" border="1">
			<colgroup>
				<col style="width: 2px">
				<col style="width: 3px">
				<col style="width: 6px">
				<col style="width: 3px">
				<col style="width: 4px">
				<col style="width: 1px">
			</colgroup>
			<thead>
				<th>Ord No.</th>
				<th>Date Enacted</th>
				<th>Source</th>
				<th>Subject</th>
				<th>Status</th>
			</thead>
			<tbody id="tbbody_inventory_ordinances"></tbody>
		</table>
	</div>
	
</div>