<div class="colfull">
	<div class="colfull">
		<div class="colfull">
			<p id="document_title_tracking"></p>
		</div>
		<div class="colfull">
			<div id="list_file_tracking"></div>
		</div>

		<div class="colfull" align="center">
			<a type="button" class="btn btn-primary" id="download_file_id_tracking" style="text-decoration: none;color: #fff;text-align: center;display: none;">Download</a>
		</div>
		<div class="colfull">
			<table id="tbl_document_tracking_details" class="table" style="table-layout: fixed; width: 100%;border-collapse: collapse;" border="1">
				<thead>
					<th>Status</th>
					<th>Remarks</th>
					<th>Date</th>
				</thead>
			</table>
		</div>
	</div>
</div>