<div class="colfull">
	<form id="form_executive_order">
		<input type="hidden" id="h_executive_order" value="0">
		<div class="colfull">
			<p>Title</p>
			<textarea class="form-control" id="executive_title" name="title" required="" autocomplete="off" autofocus style="height: 100px;"></textarea>
			<p>Documents</p>

			<input type="file" id="upload_executive_order" name="upload_file" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf" multiple>
		</div>

		<div class="colfull" style="margin-top: 50px;">
			<p>Executive Order Document</p>
			<table id="tbl_executive_order_path" class="table" border="1" style="width: 100%">
				<thead>
					<th>filename</th>
					<th>Action</th>
				</thead>
			</table>
		</div>

		<div class="colfull" align="center">
			<button type="submit" class="btn btn-success">Save</button>
			<button type="button" class="btn btn-danger" style="display: none" id="del_executive" onclick="delete_executive_order()">Delete</button>
		</div>
	</form>
</div>
<script type="text/javascript">
	$(document).ready(function(res){
		var form_id='#form_executive_order'
		 $(form_id).submit(function(e){
		 	var form_save = $(form_id).serializeObject();
	        e.preventDefault();

	        swal.fire({
				title: "Are you sure want to save?",
				text: "Click ok to continue",
				type: "info",
				showCancelButton: true,
				showLoaderOnConfirm: true,
				preConfirm: () => {
					return fetch(console.log("log"))
					.then(
						upload_executive_order()
					)
					.catch(() => {
					    Swal.fire({
					      icon: 'error',
					      title: 'Error occured'
					    })
					})
				}
			})
	        
	    })	
	})

	function upload_executive_order(){
    	var mydata = new FormData();
    	mydata.append('title', getbyId('executive_title').value);
        mydata.append('executive_order_id', getbyId('h_executive_order').value);
        mydata.append('sp_id', getbyId('active_sp_id').value);

        jQuery.each($("#upload_executive_order")[0].files, function(i, file) {
	        mydata.append('file['+i+']', file);
	    });
        
	    $.ajax({
	        type: 'POST',
	        url: "/save_executive_order",
	        contentType:false,
	        processData:false,
	        cache: false,
	        data:mydata,
	        beforeSend: function() {
		       console.log(mydata)
		    },
	        success: function(res) {
				getbyId('form_executive_order').reset()
				clear_executive_id()
				load_executive_order()
				$("#div_executive_order").modal('toggle');
				saved(res)
	        },
	        error: function() {
	            error_in_saving("error occured in sending to");
	        }
	    });
	}

	function delete_executive_order(){
		Swal.fire({
			title: 'Are you sure?',
			text: "You won't be able to revert this!",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#d33',
			cancelButtonColor: '#3085d6',
			confirmButtonText: 'Yes, delete it!',
			customClass: 'swal_css',
		}).then((result) => {
			if (result.isConfirmed) {
				Swal.fire(
				  'Deleted!',
				  'Your file has been deleted.',
				  'success'
				)
				var data={
					'executive_order_id':getbyId('h_executive_order').value
				}
				sendDataWithCallback('/del_executive_order',data,function(res){
					getbyId('form_executive_order').reset();
					clear_ref()
					if ($.fn.DataTable.isDataTable('#tbl_executive_order')) {
			        	$('#tbl_executive_order').DataTable().clear().draw();
			       	}
					load_executive_order()
					$('#div_executive_order').modal('toggle');
				})
			}
		})
	}

	function delete_file_executive_order(elem){
		var data={
			executive_order_path_id:elem.getAttribute('data-executive_order_path_id'),
			executive_order_id:elem.getAttribute('data-id')
		}
		Swal.fire({
			title: 'Are you sure?',
			text: "You won't be able to revert this!",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#d33',
			cancelButtonColor: '#3085d6',
			confirmButtonText: 'Yes, delete it!',
			customClass: 'swal_css',
		}).then((result) => {
			if (result.isConfirmed) {
				Swal.fire(
				  'Deleted!',
				  'Your file has been deleted.',
				  'success'
				)
				sendDataWithCallback('/del_executive_order_file',data,function(res){
					if(res){
						if ($.fn.DataTable.isDataTable('#tbl_executive_order_path')){
   				        	$('#tbl_executive_order_path').DataTable().clear().draw();
   				        }
   				        var data={
			     			executive_order_id:getbyId('h_executive_order').value
			     		}
   				        load_executive_attach(data)
					}
				})
			}
		})
	}

	function clear_executive_id(){
		getbyId("h_executive_order").value = "0"
	}
</script>