{% extends 'landing_page/index.html'%}

{% block body %}
	<div class="container my-5">
		<p class="lead" style="text-align:center; font-weight: bold;">Mission</p>
		{% if data %}
			{% if data[0]['mission'] == None or data[0]['mission']=="" %}
				<p>Please add mission in system configuration</p>
			{% else %}
				<p>{{ data[0]['mission'] }}</p>
			{% endif %}

		{% endif %}
		<hr>

        <p class="lead" style="text-align:center; font-weight: bold;">Vision</p>
        {% if data %}
			{% if data[0]['vission'] == None or data[0]['vission']=="" %}
				<p>Please add vision in system configuration</p>
			{% else %}
				<p>{{ data[0]['vission'] }}</p>
			{% endif %}
			
		{% endif %}
	</div>

	<script type="text/javascript">
		$('document').ready(function(){
			document.getElementById('menu_about').style.color = "black";

			getDataWithCallback('/get_city_name', function(res){

		        if(res[0].type==null || res[0].type==""){
		            var type = 'SANGUNIANG BAYAN';
		            getbyId('act_members_sp_sb').innerHTML="SB MEMBERS";
		            getbyId('footer_text').innerHTML = type
		        }else{
		            var type = 'SANGUNIANG PANLUNGSOD';
		            getbyId('act_members_sp_sb').innerHTML="SP MEMBERS";
		            getbyId('footer_text').innerHTML = type
		        }

		        getbyId('lan_cityname').innerHTML=res[0]['city_name'];
			})

		})
	</script>

{% endblock %}

