<div class="colfull">
	<form id="form_memorandom">
		<input type="hidden" id="h_memorandom" value="0">
		<div class="colfull">
			<p>Title</p>
			<textarea class="form-control" id="memorandom_title" name="title" required="" autocomplete="off" autofocus style="height: 100px;"></textarea>
			<p>Documents</p>

			<input type="file" id="upload_memorandom" name="upload_file" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf" multiple>
		</div>

		<div class="panel panel-primary" style="margin-top: 50px;">
			<div class="panel-heading">memorandom Order Document </div>
			<div class="panel-body">
				<div class="colful">
					<table id="tbl_memorandom_path" class="table" border="1" style="width: 100%">
						<thead>
							<th>filename</th>
							<th>Action</th>
						</thead>
					</table>
				</div>
			</div>
		</div>

		<div class="colfull" align="center">
			<button type="submit" class="btn btn-success">Save</button>
			<button type="button" class="btn btn-danger" style="display: none" id="del_memorandom" onclick="delete_memorandom()">Delete</button>
		</div>
	</form>
</div>
<script type="text/javascript">
	$(document).ready(function(res){
		var form_id='#form_memorandom'
		 $(form_id).submit(function(e){
		 	var form_save = $(form_id).serializeObject();
	        e.preventDefault();

	        swal.fire({
				title: "Are you sure want to save?",
				text: "Click ok to continue",
				type: "info",
				showCancelButton: true,
				showLoaderOnConfirm: true,
				preConfirm: () => {
					return fetch(console.log("log"))
					.then(
						upload_memorandom()
					)
					.catch(() => {
					    Swal.fire({
					      icon: 'error',
					      title: 'Error occured'
					    })
					})
				}
			})
	        
	    })	
	})

	function upload_memorandom(){
    	var mydata = new FormData();
    	mydata.append('title', getbyId('memorandom_title').value);
        mydata.append('memorandom_id', getbyId('h_memorandom').value);
        mydata.append('sp_id', getbyId('active_sp_id').value);

        jQuery.each($("#upload_memorandom")[0].files, function(i, file) {
	        mydata.append('file['+i+']', file);
	    });
        
	    $.ajax({
	        type: 'POST',
	        url: "/save_memorandom",
	        contentType:false,
	        processData:false,
	        cache: false,
	        data:mydata,
	        beforeSend: function() {
		       console.log(mydata)
		    },
	        success: function(res) {
				getbyId('form_memorandom').reset()
				clear_memorandom_id()
				load_memorandom()
				$("#div_memorandom").modal('toggle');
				saved(res)
	        },
	        error: function() {
	            error_in_saving("error occured in sending to");
	        }
	    });
	}

	function delete_memorandom(){
		Swal.fire({
			title: 'Are you sure?',
			text: "You won't be able to revert this!",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#d33',
			cancelButtonColor: '#3085d6',
			confirmButtonText: 'Yes, delete it!',
			customClass: 'swal_css',
		}).then((result) => {
			if (result.isConfirmed) {
				Swal.fire(
				  'Deleted!',
				  'Your file has been deleted.',
				  'success'
				)
				var data={
					'memorandom_id':getbyId('h_memorandom').value
				}
				sendDataWithCallback('/del_memorandom',data,function(res){
					getbyId('form_memorandom').reset();
					clear_ref()
					if ($.fn.DataTable.isDataTable('#tbl_memorandom')) {
			        	$('#tbl_memorandom').DataTable().clear().draw();
			       	}
					load_memorandom()
					$('#div_memorandom').modal('toggle');
				})
			}
		})
	}

	function delete_file_memorandom(elem){
		var data={
			memorandom_path_id:elem.getAttribute('data-memorandom_path_id'),
			memorandom_id:elem.getAttribute('data-id')
		}
		Swal.fire({
			title: 'Are you sure?',
			text: "You won't be able to revert this!",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#d33',
			cancelButtonColor: '#3085d6',
			confirmButtonText: 'Yes, delete it!',
			customClass: 'swal_css',
		}).then((result) => {
			if (result.isConfirmed) {
				Swal.fire(
				  'Deleted!',
				  'Your file has been deleted.',
				  'success'
				)
				sendDataWithCallback('/del_memorandom_file',data,function(res){
					if(res){
						if ($.fn.DataTable.isDataTable('#tbl_memorandom_path')){
   				        	$('#tbl_memorandom_path').DataTable().clear().draw();
   				        }
   				        var data={
			     			memorandom_id:getbyId('h_memorandom').value
			     		}
   				        load_memorandom_attach(data)
					}
				})
			}
		})
	}

	function clear_memorandom_id(){
		getbyId("h_memorandom").value = "0"
	}
</script>