<div class="colfull" id="print_committee_info">
	<div class="colfull">
		<h4 class="title4" align="center">COMMITTEE INFO</h4>
        <br>
		<div class="row">
            <div class="col-md-2">
            	<p>Committee:</p>
            </div>
            <div class="col-sm">
            	<div style="border-bottom: 1px solid black" id="committee_name_info"></div>
            </div>
        </div>

        <div class="row">
        	<div class="col-md-2">
            	<p>Email-Add:</p>
            </div>
            <div class="col-sm">
            	<div style="border-bottom: 1px solid black;" id="committee_email_info"></div>
            </div>
        </div>

        <div class="row">
        	<div class="col-md-2">
            	<p>Contact No.</p>
            </div>
            <div class="col-sm">
            	<div style="border-bottom: 1px solid black;" id="committee_contact_info"></div>
            </div>
        </div>

        <div class="row">
        	<div class="col-md-2">
            	<p>Chairman</p>
            </div>
            <div class="col-sm">
            	<div style="border-bottom: 1px solid black;" id="committee_chairman_info"></div>
            </div>
        </div>

        <div class="row">
        	<div class="col-md-2">
            	<p>Co-Chairman</p>
            </div>
            <div class="col-sm">
            	<div style="border-bottom: 1px solid black;" id="committee_co_chairman_info"></div>
            </div>
        </div>
	</div>

	<div class="colfull" style="padding-right: 20px;margin-top: 30px;">
		<table id="tbl_committee_member_info" style="width: 100%;" class="table display" border="1">
			<thead>
				<th>Member</th>
			</thead>
		</table>
	</div>
</div>