<div class="col-sm-12" id="gallery_albums_">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
           <div class="header-title">
                <h4 class="card-title">My Albums</h4>
                <p class="lead text-muted">Collection Of Memories </p>
 				<p id="i_albums">Create Album
 					<span>
	 					<svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
	 						<path fill-rule="evenodd" clip-rule="evenodd" d="M9.3764 20.0279L18.1628 8.66544C18.6403 8.0527 18.8101 7.3443 18.6509 6.62299C18.513 5.96726 18.1097 5.34377 17.5049 4.87078L16.0299 3.69906C14.7459 2.67784 13.1541 2.78534 12.2415 3.95706L11.2546 5.23735C11.1273 5.39752 11.1591 5.63401 11.3183 5.76301C11.3183 5.76301 13.812 7.76246 13.8651 7.80546C14.0349 7.96671 14.1622 8.1817 14.1941 8.43969C14.2471 8.94493 13.8969 9.41792 13.377 9.48242C13.1329 9.51467 12.8994 9.43942 12.7297 9.29967L10.1086 7.21422C9.98126 7.11855 9.79025 7.13898 9.68413 7.26797L3.45514 15.3303C3.0519 15.8355 2.91395 16.4912 3.0519 17.1255L3.84777 20.5761C3.89021 20.7589 4.04939 20.8879 4.24039 20.8879L7.74222 20.8449C8.37891 20.8341 8.97316 20.5439 9.3764 20.0279ZM14.2797 18.9533H19.9898C20.5469 18.9533 21 19.4123 21 19.9766C21 20.5421 20.5469 21 19.9898 21H14.2797C13.7226 21 13.2695 20.5421 13.2695 19.9766C13.2695 19.4123 13.7226 18.9533 14.2797 18.9533Z" fill="currentColor">
	 						</path>
		 				</svg>                        
	 				</span>
 				</p>
           </div>
        </div>
        <div class="card-body">
            <div class="album py-5 bg-light">
			    <div class="container">
		    		<div class="row" id="div_gallery">

		    		</div>
			    </div>
			</div>
       </div>
    </div>
</div>


<div id="albums_navigation" style="display: none">
    {% include 'gallery_albums/albums.html' %}
</div>

<!-- Modal -->

<div id="div_albums" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content form-control">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            	<div class="colfull">
            		<form id="form_album">
            			<label>Album Name</label>
	            		<input type="text" name="album" class="form-control">
	            		<div class="colfull" align="center">
	            			<button class="btn btn-outline-secondary" style="margin-top: 20px!important;">Save</button>
	            		</div>
	            	</form>
            	</div>
            </div>
        </div>
    </div>
</div>

<!-- End Modal -->





<script type="text/javascript">
	$(document).ready(function(){
		var form_id='#form_album'
		 $(form_id).submit(function(e){
		 	var form_save = $(form_id).serializeObject();
	        e.preventDefault();

	        swal.fire({
				title: "Are you sure want to save?",
				text: "Click ok to continue",
				type: "info",
				showCancelButton: true,
				showLoaderOnConfirm: true,
				preConfirm: () => {
					return fetch(console.log(form_save))
					.then(
						sendDataWithCallback("/save_album_title",form_save,function(res){
							get_gallery_data_function()
							$("#div_albums").modal('toggle')
							saved(res)
						})
					)
					.catch(() => {
					    Swal.fire({
					      icon: 'error',
					      title: 'Error occured'
					    })
					})
				}
			})
	        
	    })

		get_gallery_data_function()
		
	})

	function get_gallery_data_function(){
		getDataWithCallback("/get_album_title",function(res){
		 	if(res[0]){

		 		get_gallery_data(res)
		 	}
		})
	}

	var counter =0;
	function get_gallery_data(res){
		getbyId('div_gallery').innerHTML=""
		res.forEach(function(i, index){
			var parent_div=document.getElementById('div_gallery')
			var div=document.createElement("div")
			div.className="col-md-4"

			var div1=document.createElement("div")
			div1.className="card mb-4 shadow-sm"

			var img = document.createElement("img")
			img.className="bd-placeholder-img card-img-top"
			img.width="100%"
			img.height="225"
			
			if(i.count_images==0){
				img.src="../static/images/blank_photo.png"
			}else{
				img.src="../static/uploads/"+i.thumbnails
			}

			var title=document.createElement("title")
			title.innerHTML="Placeholder"

			var rect = document.createElement("rect")
			rect.width="100%";
			rect.height="100%";
			rect.fill="#55595c"

			var text=document.createElement("text")
			text.x="50%";
			text.y="50%";
			text.fill="#eceeef";
			text.dy=".3em"
			text.innerHTML=i.date_gens

			var div_card_body=document.createElement('div')
			div_card_body.className="card-body"

			var p=document.createElement('p')
			p.className="card-text"
			p.innerHTML=i.album_name

			var div_=document.createElement("div")
			div_.className="d-flex justify-content-between align-items-center"

			div_card_body.appendChild(p)

			var div_btn_grp=document.createElement('div')
			div_btn_grp.className="btn-group"

			var small =document.createElement("small")
			small.innerHTML=i.count_images+" items"

			var btn_view=document.createElement('button')
			btn_view.className="btn btn-sm btn-outline-secondary"
			btn_view.type="button"
			btn_view.innerHTML="Open"

			btn_view.onclick=function(){
				localStorage.setItem("gallery_id", i.gallery_id);
				// window.location.href="/albums"
				getbyId('albums_navigation').style.display="block"
				getbyId('gallery_albums_').style.display="none"

			}

			var btn_rem=document.createElement('button')
			btn_rem.className="btn btn-sm btn-outline-danger"
			btn_rem.type="button"
			btn_rem.innerHTML="Remove"

			btn_rem.onclick=function(){
				localStorage.setItem("gallery_id", i.gallery_id);
				var x=localStorage.getItem("gallery_id");


				del_gallery_album(x)
			}

			div1.appendChild(img)
			div1.appendChild(title)
			div1.appendChild(rect)
			div1.appendChild(text)
			div1.appendChild(div_card_body)

			div_btn_grp.appendChild(btn_view)
			div_btn_grp.appendChild(btn_rem)

			div_.appendChild(div_btn_grp)
			div_.appendChild(small)
			div_card_body.appendChild(div_)

			div.appendChild(div1)
			parent_div.appendChild(div)
		})
	}

	$("#i_albums").click(function(){
		$("#div_albums").modal('toggle')
	});


	function del_gallery_album(id){
		Swal.fire({
			title: 'Are you sure?',
			text: "You won't be able to revert this!",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#d33',
			cancelButtonColor: '#3085d6',
			confirmButtonText: 'Yes, delete it!',
			customClass: 'swal_css',
		}).then((result) => {
			if (result.isConfirmed) {
				sendDataWithCallback("/del_gallery_album",{id:id},function(res){
					getbyId('div_gallery').innerHTML=""
					get_gallery_data_function()
					Swal.fire(
					  'Deleted!',
					  'Your file has been deleted.',
					  'success'
					)
				})
			}
		})
	}

</script>